/**
 * 	zousu.com 2011
 * 
 */
.cont{
	width:690px;
	margin:10px 0 0 0;
}
 .cont ul{
	padding:0 5px;
	margin-bottom:0;
	width:690px;
}
.cont li{
	list-style: none;
	background-color: #f2f2f2;
	color:#1a1d1a;
	border:1px solid #aaa;
	padding:5px;
	margin-right:2px;
	display:inline-block;
	cursor: pointer;
	border-bottom:none;
}
.cont li.current{
	background-color: #fff;
	color:#1a1d1a;
	top:1px;
	padding-top:11px;
	padding-left:11px;
	padding-right:11px;
	position:relative;
	z-index: 100;
}
.cont .content{
	width:770px;
	border:1px solid #aaa;
	display:none;
	background-color: #fff;
	padding:10px;
	margin:0px 0px 0px 5px;
}
.cont .content.current{
	display:block;
}